
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>CHINACA INVESTMENT</title>
    
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/flexslider.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body id="top" data-spy="scroll">

	<header id="home">

		<section class="top-nav hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top-left">

							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>

						</div>
					</div>

					

				</div>
			</div>
		</section>



			<div id="main-nav">

			<nav class="navbar">
				<div class="container">
                    <a href="../index.html">
					<img src="../images/logo/logo2.png" alt="" class="logo">
                    </a>
					<div class="navbar-collapse collapse" id="ftheme">

						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Finance</a></li>
							<li><a href="Investment.html">Investment</a></li>
							<li><a href="Advisory.html">Advisory</a></li>
							<li><a href="templates/contact.html">Contact</a></li>
							<li class="hidden-sm hidden-xs">
	                            <a href="#" id="ss"><i class="fa fa-search" aria-hidden="true"></i></a>
	                        </li>
						</ul>

					</div>

					<div class="search-form">
	                    <form>
	                        <input type="text" id="s" size="40" placeholder="Search..." />
	                    </form>
	                </div>

				</div>
			</nav>
		</div>

	</header>

	<!--slider-->
	<div id="slider" class="flexslider">

        <ul class="slides">
            <li>
            	<img src="../images/index/abouslider.jpg" class="imgslider">

				<div class="caption">
					<h2><span>About us</span></h2> 
					
	            </div>

            </li>
             <li>
            	<img src="../images/index/aboutslider1.jpg" class="imgslider">

				<div class="caption">
					<h2><span>About us</span></h2>
	            </div>

            </li>
			 <li>
            	<img src="../images/index/aboutslider2.jpg" class="imgslider">
				<div class="caption">
					<h2><span>About us</span></h2> 
	            </div>

            </li>
			 <li>
            	<img src="../images/index/aboutslider3.jpg" class="imgslider">

				<div class="caption">
					<h2><span>About us</span></h2> 
	            </div>

            </li>
			 
        </ul>

    </div>