<!DOCTYPE html>
<html lang="en">

<head>

   
    <link href="extra/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="extra/js/jquery-2.2.0.min.js"></script>

    <script src="extra/js/bootstrap.min.js"></script>
    <link href="extra/css/Style.css" rel="stylesheet" type="text/css">
<script src="extra/fonts/glyphicons-halflings-regular.eot"></script>
    <link href="style.css" rel="stylesheet">
    <script src="extra/fonts/glyphicons-halflings-regular.svg"></script>
    <script src="extra/js/jquery.bxslider.min.js"></script>
<script src="extra/js/jquery.bxslider.js"></script>
      <link href="extra/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
</head>

<body>

    <section class="mainnav" class="navbar navbar-default navbar-fixed-top">
    <h1 class="weblogo" style="margin-top:20px;">Chinaca Investment</h1>
    <div class="optn">
        <a class="navop" href="index.html">Home</a>
        <a class="navop" href="About.html">About us</a>
        <a class="navop" href="management.html">Management</a>
        <a class="navop">Business</a>
        <a class="navop">Affilated Companies</a>
        <a class="navop">Contact us</a>
    </div>
      <div class="input-group inputnav">
      <input type="text" class="form-control" placeholder="Type here......">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
</section>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Management
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
