<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


    <link href="extra/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="extra/js/jquery-2.2.0.min.js"></script>

    <script src="extra/js/bootstrap.min.js"></script>
    <link href="extra/css/Style.css" rel="stylesheet" type="text/css">
<script src="extra/fonts/glyphicons-halflings-regular.eot"></script>
    <link href="style.css" rel="stylesheet">
    <script src="extra/fonts/glyphicons-halflings-regular.svg"></script>
    <script src="extra/js/jquery.bxslider.min.js"></script>
<script src="extra/js/jquery.bxslider.js"></script>
      <link href="extra/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--<section class="navbar navbar-default navbar-fixed-top topbar" style="position:absolute;">
    <h3 class="navtag">We are consulting / Brokerage Company</h3>
</section>-->
<section class="mainnav" class="navbar navbar-default navbar-fixed-top">
     <a class="weblogo" style="margin-top:20px;" href="index.html">Chinaca </a>
     <div class="optn">
        <a class="navop" href="logistics.html">Logistics</a>
        <a class="navop" href="mining.html">Mining</a>
        <a class="navop" href="agric.html">Agriculture</a>
        <a class="navop" href="infra.html">Infrastructure</a>
    </div>
      <div class="input-group inputnav">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
</section>
<section>
    <ul class="bxslider" style=>
    <li><img class="sliderimg" src="minbanner.jpg"/></li>
    <li><img class="sliderimg" src="minbanner1.jpg"/></li>
    <li><img class="sliderimg" src="minbanner2.jpg"/></li>
    <li><img class="sliderimg" src="minbanner.jpg"/></li>
    </ul>
</section>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>

<section>
    <h1 class="abtcont">Minning</h1>
    <div class="abtpara">
    <i>Mining and minerals sector services from CHINACA: Delivering competitive advantage for you.
    In a world of globalization, technology advancement, increasing regulation and fluctuating markets, exploration and mining face more complex challenges than ever before.
    To help you meet these challenges, CHINACA offers an extensive range of services that covers exploration, plant design and engineering, production, industrial applications and decommissioning and closure. As your strategic partner, we provide testing, technology, trade services and consulting to help deliver more growth and lean efficiencies, improve your speed to market and reduce risk. Our industry experts can help you make the most of market developments and advances in technology, enabling you to maximize opportunities and stay ahead of your competitors.
        </i>
    </div>
</section>