<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


    <link href="extra/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="extra/js/jquery-2.2.0.min.js"></script>
    <script src="extra/js/bootstrap.min.js"></script>
    <link href="extra/css/Style.css" rel="stylesheet" type="text/css">
    <script src="extra/fonts/glyphicons-halflings-regular.eot"></script>
    <link href="stylecart.css" rel="stylesheet">
    <script src="extra/fonts/glyphicons-halflings-regular.svg"></script>
</head>
<body style="border-bottom: 1px solid black;margin-bottom: 2%">

<table style="height: 80px;position: fixed;border-bottom: 1px solid #e7e7e7;background-color: white;padding: 1%">
    <td><a href="About.html"><span class="glyphicon glyphicon-chevron-left" style="color: #2aabd2;font-size: 1cm"></span><span style="font-size: 0.8cm;color: #0f0f0f">BACK</span></a></td>
    <td><span style="margin-left:20%;font-size: 1.2cm;color: black">Shopping cart</span></td>
</table>

<table style="margin-top: 10%;margin-left: 2%;margin-right:3%;height:70px">
    <td style="background-color: #EC4445;width:20%;"><span style="padding-left: 30%;color: white;font-size: 1.2cm" class="glyphicon glyphicon-star-empty"></span></td>
    <td style="background-color: darkgray;border-bottom: 1px solid #e7e7e7;padding-left:3%;font-size: 1.2cm">Shopping cart</td>
</table>
<div style="margin: 2%">
<table style="background-color:darkgray; ;height:60px">
    <td style="width: 15%" class="box1">

    </td>
    <td style="width: 25%;font-size: 0.8cm">Product item
    </td>
    <td style="width: 10%"></td>
    <td style="width: 15%;font-size: 0.8cm">Unit price </td>
    <td style="width: 10%;font-size: 0.8cm">Qty</td>
    <td style="width: 15%;font-size: 0.8cm">sub total</td>
    <td style="width: 10%"></td>
</table>

<table style="background-color:white;height:150px;width: 100% ">
    <td style="width: 15%;border: 1px solid #e7e7e7" class="box1">
        <img style="width: 100px;height: 120px;margin-left:20%" src="banner1.jpg" alt="">
    </td>
    <td style="width: 25%;;border: 1px solid #e7e7e7">
        <h4 style="text-align: center">Fusce  aliquam</h4><h4 style="text-align: center">Capacity: 64Gb Color: Gold</h4>
    </td>
    <td style="width: 10%;border: 1px solid #e7e7e7">
        <h4 style="text-align: center;margin: auto">Edit</h4>
    </td>
    <td style="width: 15%;border: 1px solid #e7e7e7">
    <h4 style="margin: auto;text-align: center">$172</h4>
    </td>
    <td style="width: 10%;border: 1px solid #e7e7e7">
        <input type="number" value="1" name="number" style="width: 90%;margin: auto;">
    </td>
    <td style="width: 15%;border: 1px solid #e7e7e7">
        <h4 style="text-align: center;margin: auto">$172</h4>
    </td>
    <td style="width: 10%;border: 1px solid #e7e7e7">
        <span class="glyphicon glyphicon-trash" style="margin-left: 40%;text-align: center"></span>
    </td>
</table>
<table style="background-color:white;height:150px;width: 100% ">
    <td style="width: 15%;border: 1px solid #e7e7e7" class="box1">
        <img style="width: 100px;height: 120px;margin-left:20%" src="banner2.jpg" alt="">
    </td>
    <td style="width: 25%;;border: 1px solid #e7e7e7">
        <h4 style="text-align: center">Fusce  aliquam</h4><h4 style="text-align: center">Capacity: 64Gb Color: Gold</h4>
    </td>
    <td style="width: 10%;border: 1px solid #e7e7e7">
        <h4 style="text-align: center;margin: auto">Edit</h4>
    </td>
    <td style="width: 15%;border: 1px solid #e7e7e7">
        <h4 style="text-align: center;margin: auto">$172</h4>
    </td>
    <td style="width: 10%;border: 1px solid #e7e7e7">
        <input type="number" value="1" name="number" style="width: 90%;margin: auto;">

    </td>
    <td style="width: 15%;border: 1px solid #e7e7e7">
        <h4 style="text-align: center;margin: auto">$172</h4>

    </td>
    <td style="width: 10%;border: 1px solid #e7e7e7">
        <span class="glyphicon glyphicon-trash" style="margin-left:40%;text-align: center;"></span>

    </td>
</table>
</div>
<div style="margin:2%">
    <button style="background-color: #EC4445;color: white;border: none;width: 22%;height: 50px;font-size: 0.6cm;padding: 0% ">Continue Shopping</button>
    <button style="background-color: #EC4445;color: white;border: none;width: 15%;height: 50px;font-size: 0.6cm;padding: 0%">Clear Cart</button>
    <button style="background-color: #EC4445;color: white;border: none;width: 15%;height: 50px;font-size: 0.6cm;padding: 0%">Update Cart</button>
</div>

<div style="border: 1px solid #ccc;margin:2%">
    <div style="background-color: darkgray;border-bottom: 1px solid #e7e7e7;padding-left:3%;font-size: 1.2cm;margin-top: 1%;">Discount Codes</div>
    <tr><p style=";font-size: 1cm;margin-left: 2%">Enter your coupon if you have one</p></tr>
    <tr><input type="text" style="width: 80%;height: 50px;margin-left: 2%"></tr>
    <div style="margin-top: 1%"><button style="border: none;color:white;margin-left: 2%;background-color: #EC4445;width:25%;height: 60px;font-size: 0.6cm;margin-bottom: 2% ">APPLY COUPON</button></div>
</div>

<div style="border: 1px solid #ccc;margin:2%">
    <div style="background-color: darkgray;border-bottom: 1px solid #e7e7e7;padding-left:3%;font-size: 1.2cm;margin-top: 1%;">Estimate shipping and tax</div>
    <tr><p style=";font-size: 1cm;margin-left: 2%">Enter your destination to get a shipping <estimate></estimate></p></tr>
    <p style="margin-left: 2%;margin-top: 2%">Country</p>
    <tr><input type="text" style="width: 80%;height: 50px;margin-left: 2%"></tr>

    <p style="margin-left: 2%;margin-top: 2%">State Provine</p>
    <tr><input type="text" style="width: 80%;height: 50px;margin-left: 2%"></tr>

    <p style="margin-left: 2%;margin-top: 2%">Zip/Postal code</p>
    <tr><input type="text" style="width: 80%;height: 50px;margin-left: 2%"></tr>
    <div style="margin-top: 2%;margin-top: 2%;margin-bottom: 2%"><button style="border: none;color:white;margin-left: 2%;background-color: #EC4445;width:20%;height: 60px;font-size: 0.6cm ">GET A QUOTE</button></div>
</div>

<div style="border: 1px solid #ccc;margin:2%">
    <div style="background-color: darkgray;border-bottom: 1px solid #e7e7e7;padding-left:3%;font-size: 1.2cm;margin-top: 1%;">Total</div>
    <tr><p style=";font-size: 0.6cm;margin-left: 2%;text-align: right;margin-top: 2%;margin-right: 2%">Sub total   $999.999</p></tr>
    <tr><p style=";font-size: 0.7cm;margin-left: 2%;text-align: right;margin-top: 2%;margin-right: 2%">Grand total   $999.999</p></tr>
    <div style="margin-top: 1%;text-align: right;margin-top: 2%;margin-bottom: 2%;margin-right: 2%"><button style="border: none;color:white;margin-left: 2%;background-color: #EC4445;width:20%;height: 60px;font-size: 0.6cm; ">APPLY COUPON</button></div>
</div>


</body>
</html>