
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>CHINACA INVESTMENT</title>
    
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/flexslider.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body id="top" data-spy="scroll">

	<header id="home">

		<section class="top-nav hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top-left">

							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>

						</div>
					</div>

					

				</div>
			</div>
		</section>



			<div id="main-nav">

			<nav class="navbar">
				<div class="container">
                    <a href="../index.html">
					<img src="../images/logo/logo2.png" alt="" class="logo">
                    </a>
					<div class="navbar-collapse collapse" id="ftheme">

						<ul class="nav navbar-nav navbar-right">
							<li><a href="Finance.html">Finance</a></li>
							<li><a href="Investment.html">Investment</a></li>
							<li><a href="#">Relevant Project</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li class="hidden-sm hidden-xs">
	                            <a href="#" id="ss"><i class="fa fa-search" aria-hidden="true"></i></a>
	                        </li>
						</ul>

					</div>

					<div class="search-form">
	                    <form>
	                        <input type="text" id="s" size="40" placeholder="Search..." />
	                    </form>
	                </div>

				</div>
			</nav>
		</div>

	</header>

   
   
    <section>		
        <div class="container">
				<div class="row" >
				
                    <h3><span class="citynam">Maputo</span></h3>
                           
                    <div class="col-lg-3 col-md-3 relbox">
                      <p style="">Republic of Mozambique<br>Oil & Gas <br>ARP <br>(Africa Renaissance Pipeline) <br>EPC & DEBT RAISING <br>2015/16</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox"  >
		        	  <p>Republic of Mozambique<br>Road & Bridges <br>ANE <br>(Rio-Save Bridge) <br>ADVISORY <br>2015</p>
						</div>
                         <div class="col-lg-3 col-md-3 relbox">
                           <p>Republic of Mozambique<br>Energy/Utility <br>EDM <br>(Dondo Transmission Line) <br>EPC & DEBT RAISING <br>2014</p>
				    	</div>

					<div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>Telecoms<br>3W Networks <br>(Digital Migration)<br>ADVISORY<br>2016</p>
						</div>
					</div>
				</div>
                   <div class="container">
				<div class="row">
		
                    <div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>Banking <br>CPTDC <br>(Financial Services)<br>DEBT RAISING <br>2016</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
	                 <p>Republic of Mozambique<br>Energy / Utility<br>EDM <br>(Niassa Transmission Line) <br>EPC & DEBT RAISING <br>2015</p>
						</div>
                         <div class="col-lg-3 col-md-3 relbox">
                      <p>Republic of Mozambique<br>Oil & Gas <br>CTDC <br>(China Petroleum Development Corp) <br>ADVISORY<br>2015/16</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
                      <p>Republic of Mozambique<br>Telecoms<br>TDM <br>(Fiber Optic) <br>EPC & DEBT RAISING <br>2015</p>
						</div>
					</div>
				</div>
                   <div class="container">
				<div class="row">
			
                    <div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique <br>AgroIndustry<br>AGRITECH<br>(Agro Services & Production) <br>EQUITY INVESTMENT & CAPITAL<br>EPC & DEBT RAISING <br>2017</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
				     <p>Republic of Mozambique<br>Maritime Services <br>MPS <br>(Flag Ship Registry) <br>ADVISORY <br>2016/17</p>
						</div>
                         <div class="col-lg-3 col-md-3 relbox">
                      <p>Republic of Mozambique<br>Financial Services <br>ORICLE <br>(Social Insurance Schemes)<br>ADVISORY & EQUITY INVESTMENT<br>2016/17</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
						                    <p>Republic of Mozambique<br>AgroIndustry<br>AGRITECH<br>(Agro Services & Production)<br>EPC & DEBT RAISING <br>2017</p>
						</div>
					</div>
				</div>
                   <div class="container">
				<div class="row">
			
                    <div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>AgroIndustry<br>STEMA <br>(Nacala Grain Terminal)<br>EPC & DEBT RAISING <br>2017</p>
					</div>
 					<div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>AgroIndustry<br>STEMA <br>(Matola Site Expansion)<br>EPC & DEBT RAISING <br>2017</p>
					</div>

						
                         <div class="col-lg-3 col-md-3 relbox">
               		   <p>Republic of Mozambique<br>Health Public Sector<br>ODELGA MED <br>(Emergency Servicing Units)<br>EPC & DEBT RAISING <br>2017
		</p>
					</div>
				</div>
					</div>
					</div>
			
    </section>
	
   
    <section>		
        <div class="container">
				<div class="row">
                    <h3><span class="citynam">Angola</span></h3>
                           
                    <div class="col-lg-3 col-md-3 relbox">
                      <p style="">Republic of Mozambique<br>Oil & Gas <br>ARP <br>(Africa Renaissance Pipeline) <br>EPC & DEBT RAISING <br>2015/16</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox"  >
		        	  <p>Republic of Mozambique<br>Road & Bridges <br>ANE <br>(Rio-Save Bridge) <br>ADVISORY <br>2015</p>
						</div>
                         <div class="col-lg-3 col-md-3 relbox">
                           <p>Republic of Mozambique<br>Energy/Utility <br>EDM <br>(Dondo Transmission Line) <br>EPC & DEBT RAISING <br>2014</p>
				    	</div>

					<div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>Telecoms<br>3W Networks <br>(Digital Migration)<br>ADVISORY<br>2016</p>
						</div>
					</div>
				</div>
                   <div class="container">
				<div class="row">
		
                    <div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>Banking <br>CPTDC <br>(Financial Services)<br>DEBT RAISING <br>2016</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
	                 <p>Republic of Mozambique<br>Energy / Utility<br>EDM <br>(Niassa Transmission Line) <br>EPC & DEBT RAISING <br>2015</p>
						</div>
                         <div class="col-lg-3 col-md-3 relbox">
                      <p>Republic of Mozambique<br>Oil & Gas <br>CTDC <br>(China Petroleum Development Corp) <br>ADVISORY<br>2015/16</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
                      <p>Republic of Mozambique<br>Telecoms<br>TDM <br>(Fiber Optic) <br>EPC & DEBT RAISING <br>2015</p>
						</div>
					</div>
				</div>
                   <div class="container">
				<div class="row">
			
                    <div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique <br>AgroIndustry<br>AGRITECH<br>(Agro Services & Production) <br>EQUITY INVESTMENT & CAPITAL<br>EPC & DEBT RAISING <br>2017</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
				     <p>Republic of Mozambique<br>Maritime Services <br>MPS <br>(Flag Ship Registry) <br>ADVISORY <br>2016/17</p>
						</div>
                         <div class="col-lg-3 col-md-3 relbox">
                      <p>Republic of Mozambique<br>Financial Services <br>ORICLE <br>(Social Insurance Schemes)<br>ADVISORY & EQUITY INVESTMENT<br>2016/17</p>
					</div>

					<div class="col-lg-3 col-md-3 relbox">
						                    <p>Republic of Mozambique<br>AgroIndustry<br>AGRITECH<br>(Agro Services & Production)<br>EPC & DEBT RAISING <br>2017</p>
						</div>
					</div>
				</div>
                   <div class="container">
				<div class="row">
			
                    <div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>AgroIndustry<br>STEMA <br>(Nacala Grain Terminal)<br>EPC & DEBT RAISING <br>2017</p>
					</div>
 					<div class="col-lg-3 col-md-3 relbox">
                        <p>Republic of Mozambique<br>AgroIndustry<br>STEMA <br>(Matola Site Expansion)<br>EPC & DEBT RAISING <br>2017</p>
					</div>

						</div>
                       

					</div>
				</div>
			
    </section>
